<h1>HOME</h1>

<p>cache_enabled= [<%= Sinatra::Base.cache_enabled %>]</p>
<p>cache_page_extension= [<%= Sinatra::Base.cache_page_extension %>]</p>
<p>cache_dir= [<%= Sinatra::Base.cache_dir %>]</p>
<p>cache_logging= [<%= Sinatra::Base.cache_logging %>]</p>
<p>cache_logging_level= [<%= Sinatra::Base.cache_logging_level %>]</p>